<!doctype html>
<html lang="de-ch">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pricey</title>
    <meta name="description" content="Most simpple expense tracking">
    <meta name="author" content="by Joshua Devadas">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    {% block head %}
    {% endblock %}
</head>
<body>
<script type="text/javascript">
    document.addEventListener('keydown', function (event) {
        if (event.key === "Escape") {
            setTimeout(function () {
                window.location.href = '/';
            }, 10); // Delay of 100 milliseconds
        }
    });
</script>
<header>
    <h1>PRICEY</h1>
</header>
<hr/>
<main>
    {% block content %}
    {% endblock %}
</main>
<footer>
    <p>Designed for a programming study project</p>
</footer>
</body>
</html>