<script type="text/javascript">
    document.addEventListener('keydown', function (event) {
        if (event.key === "e") {
            setTimeout(function () {
                window.location.href = '/expense/add';
            }, 50); // Delay of 100 milliseconds
        }

        if (event.key === "c") {
            setTimeout(function () {
                window.location.href = '/category/add';
            }, 50); // Delay of 100 milliseconds
        }
    });
</script>

{% extends "base.html" %}
{% block content %}
    <form action="/" method="get" style="display: flex; align-items: center; gap: 10px;">
        <select id="month" name="month" onchange="this.form.submit()">
            {% for month in months %}
                <option value="{{ month }}" {% if month == selected_month %}selected{% endif %}>{{ month }}</option>
            {% endfor %}
        </select>
        <select id="year" name="year" onchange="this.form.submit()">
            {% for year in years %}
                <option value="{{ year }}" {% if year == selected_year %}selected{% endif %}>{{ year }}</option>
            {% endfor %}
        </select>
    </form>

    {% include 'list_expense.html' %}
    {% include 'list_category.html' %}
{% endblock %}
